@import '../../../../scss/import';

.wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 30vh;

  > .background {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  > .content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 0 2em;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (min-width: map_get($breakpoints, sm)) {
  .wrapper,
  .wrapper > .background {
    height: 50vh;
  }
}

@media screen and (min-width: map_get($breakpoints, lg)) {
  .wrapper,
  .wrapper > .background {
    height: 80vh;
  }
}

::ng-deep {
  app-parallax > .wrapper > .background > .simpleParallax {
    width: 100%;
  }
}
