<mat-card class="digital" [ngClass]="{ featured: isFeatured() }" (click)="onClick()" (keyup)="onClick()">
  <mat-card-header *ngIf="isFeatured()">
    <mat-card-title>{{ project().name }}</mat-card-title>
  </mat-card-header>
  <div mat-card-image>
    <picture>
      <source type="image/webp" srcset="{{ webpImage() }}" />
      <source type="image/png" srcset="{{ normalImage() }}" />
      <img src="{{ normalImage() }}" alt="{{ project().name }}" />
    </picture>
    <mat-icon *ngIf="isFeatured()">open_in_browser</mat-icon>
    <mat-icon *ngIf="!isFeatured()">info</mat-icon>
  </div>
  <mat-card-content>
    <h4 *ngIf="!isFeatured()">{{ project().name }}</h4>
    <p>{{ project().description }}</p>
    <ng-container *ngIf="isFeatured()">
      <ng-container *ngTemplateOutlet="highlights"></ng-container>
    </ng-container>
  </mat-card-content>
  <div class="card-img-overlay" [ngClass]="{ active: showDetails() }" *ngIf="!isFeatured()">
    <ng-container *ngTemplateOutlet="highlights"></ng-container>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>
</mat-card>

<mat-card class="print">
  <div mat-card-image>
    <picture>
      <source type="image/webp" srcset="{{ webpImage() }}" />
      <source type="image/png" srcset="{{ normalImage() }}" />
      <img src="{{ normalImage() }}" alt="{{ project().name }}" />
    </picture>
  </div>
  <mat-card-content>
    <h4>{{ project().name }}</h4>
    <p>{{ project().description }}</p>
    <ng-container *ngTemplateOutlet="highlights"></ng-container>
  </mat-card-content>
</mat-card>

<ng-template #highlights>
  <h3 mat-subheader i18n>Some highlights:</h3>
  <ul>
    <li *ngFor="let entry of project().highlights">{{ entry }}</li>
  </ul>
</ng-template>
