@import '../../../../scss/import';

:host {
    height: 100%;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .mat-card {
        position: relative;

        .mat-card-image {
            border-bottom: 1px solid rgba(0, 0, 0, 0.15);
            overflow: hidden;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            position: relative;
            cursor: pointer;

            img {
                flex: 1 1 auto;
                max-width: 100%;
                transition: all 0.35s ease;
            }

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                opacity: 0;
                background-color: mat-color($candy-app-primary);
                z-index: 1;
                transition: all 0.35s ease;
            }

            > .mat-icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: scale(0) translate(-50%, -50%);
                -webkit-transform: scale(0) translate(-50%, -50%);
                z-index: 2;
                opacity: 0;
                transition: all 0.35s ease;
                color: white;
                text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
            }
        }

        > .card-img-overlay {
            visibility: hidden;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 3;
            background-color: mat-color($candy-app-primary, default, 0.95);
            border-radius: 4px;
            padding: 1.2em 1em;
            opacity: 0;
            transition: all 0.35s ease;

            * {
                color: white;
            }

            &.active {
                visibility: visible;
                opacity: 1;
            }

            button {
                position: absolute;
                top: 0.5em;
                right: 0.5em;
            }
        }

        .mat-card-content {
            > h4 {
                font-weight: bold;
            }
        }

        &.featured {
            .mat-card-image {
                border-top: 1px solid rgba(0, 0, 0, 0.15);
            }
        }
    }

    &.zoom {
        .mat-card .mat-card-image {
            > img {
                transform: scale(1.5);
                -webkit-transform: scale(1.5);
            }

            &:after {
                opacity: 0.2;
            }

            > .mat-icon {
                transform: scale(1.5) translate(-50%, -50%);
                -webkit-transform: scale(1.5) translate(-50%, -50%);
                opacity: 1;
            }
        }
    }
}
