@use '@angular/material' as mat;
@import '../../../../scss/import';

:host {
  height: 100%;
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  min-width: 0;
  min-height: 0;

  .mat-mdc-card {
    position: relative;
    background: white;
    height: 100%;

    .mat-mdc-card-title {
      font-size: 20px;
      margin-bottom: 12px;
    }

    .mat-mdc-card-image {
      border-bottom: 1px solid rgba(0, 0, 0, 0.15);
      overflow: hidden;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;

      picture {
        height: 100%;
      }

      img {
        flex: 1 1 auto;
        max-width: 100%;
        height: 100%;
        transition: all 0.35s ease;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: 0;
        background-color: mat.m2-get-color-from-palette($candy-app-primary);
        z-index: 1;
        transition: all 0.35s ease;
      }

      > .mat-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: scale(0) translate(-50%, -50%);
        -webkit-transform: scale(0) translate(-50%, -50%);
        z-index: 2;
        opacity: 0;
        transition: all 0.35s ease;
        color: white;
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
      }
    }

    > .card-img-overlay {
      visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 3;
      background-color: mat.m2-get-color-from-palette($candy-app-primary, default, 0.95);
      border-radius: 4px;
      padding: 1.2em 1em;
      opacity: 0;
      transition: all 0.35s ease;

      * {
        color: white !important;
      }

      &.active {
        visibility: visible;
        opacity: 1;
      }

      button {
        position: absolute;
        top: 0.5em;
        right: 0.5em;
      }

      ul {
        margin: 0.5rem 0 0 0;
        padding: 0 0 0 1rem;
        list-style-type: none;

        > li {
          margin-bottom: 0.75rem;
          font-size: 0.75rem;
          line-height: 0.85rem;
        }
      }
    }

    .mat-mdc-card-content {
      padding: 12px;

      > * {
        font-size: 14px !important;
        line-height: 16px;
      }

      > h4 {
        font-weight: bold;
      }

      .mdc-list-item.mdc-list-item--with-one-line {
        height: 20px;
      }
    }

    &.featured {
      .mat-mdc-card-image {
        border-top: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
  }

  &.zoom {
    .mat-mdc-card .mat-mdc-card-image {
      > img {
        transform: scale(1.5);
        -webkit-transform: scale(1.5);
      }

      &:after {
        opacity: 0.2;
      }

      > .mat-icon {
        transform: scale(1.5) translate(-50%, -50%);
        -webkit-transform: scale(1.5) translate(-50%, -50%);
        opacity: 1;
      }
    }
  }

  .mat-mdc-subheader {
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

.print {
  display: none;
}

@media print {
  .digital {
    display: none;
  }
  .print {
    display: flex;
    flex-direction: column;
  }
}
