@import '../../../scss/vars';

.mat-toolbar {
  border-bottom: 1px solid $border-color;
}

.button-row button {
  margin-right: 8px;
}

.header {
  position: fixed;
  z-index: 999;
  background: white;
  top: 0;
}
