<mat-toolbar class="header" role="heading">
  <button mat-icon-button (click)="toggleSidenav()" *ngIf="smallScreen$ | async">
    <mat-icon>apps</mat-icon>
  </button>
  <ng-container *ngIf="!(smallScreen$ | async)">
    <app-menu></app-menu>
  </ng-container>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button (click)="openChat()">
    <mat-icon>alternate_email</mat-icon>
  </button>
</mat-toolbar>
