@use '@angular/material' as mat;
@import '../../../scss/import';

:host {
  display: block;
  background-color: mat.m2-get-color-from-palette($candy-app-primary);

  * {
    color: white !important;
    font-size: 1rem;
  }
}
