<div class="container" appSection>
  <h2 i18n="About me - introduction title" class="text-white">Nice to meet you!</h2>
  <p i18n>
    Let me quickly introduce myself: I am an experienced <u>all-round developer</u> based in Belgium, with a demonstrated history of over
    <u>20 years</u> working in the hosting industry and software development industry.
  </p>
  <hr />
  <p i18n>Skilled in Lead (and management) roles, but also very much <u>hands-on</u> with the latest and greatest <u>Cloud technologies</u>.</p>
  <p i18n>Strong entrepreneurship & graduated from Howest dept. PIH. Belgium.</p>
  <p i18n>Currently accepting long-term freelance jobs in the following fields:</p>
  <mat-list>
    <mat-list-item>
      <mat-icon matListItemIcon fontIcon="done"></mat-icon>
      <h3 i18n matListItemLine>Fullstack Web Development (Specialized in Front-End)</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon fontIcon="done"></mat-icon>
      <h3 i18n matListItemLine>E-Commerce Development</h3>
    </mat-list-item>
    <mat-list-item>
      <mat-icon matListItemIcon fontIcon="done"></mat-icon>
      <h3 i18n matListItemLine>Cloud Architect (Specialized in AWS)</h3>
    </mat-list-item>
  </mat-list>
</div>
