<h1 mat-dialog-title i18n>Leave a message</h1>
<div mat-dialog-content [formGroup]="form">
  <mat-form-field>
    <input matInput formControlName="name" required i18n-placeholder placeholder="Your name">
    <mat-error *ngIf="form.controls['name'].invalid" i18n>Please fill out your name</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="email" required i18n-placeholder placeholder="Your email address">
    <mat-error *ngIf="form.controls['email'].invalid" i18n>Please fill out a valid email address</mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput formControlName="phone" i18n-placeholder placeholder="Your phone number">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput formControlName="message" rows="3" required i18n-placeholder placeholder="Your message"></textarea>
    <mat-error *ngIf="form.controls['message'].invalid" i18n>Message is required</mat-error>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="onCancel()" i18n>Cancel</button>
  <button mat-stroked-button (click)="onSubmit()" i18n [disabled]="!form.valid">Submit</button>
  <span class="fill-remaining-space"></span>
  <img src="assets/img/slack.png" width="36" height="36" i18n-alt alt="Powered by Slack" i18n-matTooltip matTooltip="Powered by Slack" matTooltipPosition="left" />
</div>

<!--<div id="chat">-->

  <!--<i class="fa fa-times" aria-hidden="true" (click)="closeChat()"></i>-->

  <!--<form (ngSubmit)="onSubmit(f)" #f="ngForm">-->

    <!--<h5>Leave a message</h5>-->

    <!--<div class="callout success" *ngIf="statusSuccess">Thanks! I will contact you as soon as possible.</div>-->
    <!--<div class="callout alert" *ngIf="statusError">Whoops! Something went wrong, we were unable to send your message.</div>-->

    <!--<label>-->
      <!--<span>Your name:</span>-->
      <!--<input type="text" name="name" class="form-control" placeholder="Name" required ngModel #name="ngModel">-->
    <!--</label>-->

    <!--<p class="help-text" *ngIf="!name.valid && name.touched">Please fill out your name</p>-->

    <!--<label>-->
      <!--<span>Your email address:</span>-->
      <!--<input type="email" name="email" class="form-control" placeholder="Email address" required email ngModel #email="ngModel">-->
    <!--</label>-->

    <!--<p class="help-text" *ngIf="!email.valid && (email.dirty || email.touched)">Please fill out a valid email address</p>-->

    <!--<label>-->
      <!--<span>Your phone number:</span>-->
      <!--<input type="text" name="phone" class="form-control" placeholder="Phone number" ngModel>-->
    <!--</label>-->

    <!--<label>-->
      <!--<span>Your message:</span>-->
      <!--<textarea name="message" class="form-control" placeholder="Your message" rows="5" ngModel></textarea>-->
    <!--</label>-->

    <!--<button type="submit" class="button" [disabled]="!f.valid">Submit</button>-->

  <!--</form>-->

<!--</div>-->
