div[mat-dialog-content],
div[mat-dialog-actions] {
    display: flex;
}

div[mat-dialog-content] {
    flex-direction: column;

    > * {
        width: 100%;
    }
}

div[mat-dialog-actions] {
    flex-direction: row;

    > button {
        margin-right: 0.5rem;
    }
}
