<mat-sidenav-container class="main">
  <mat-sidenav
    mode="over"
    opened
    [opened]="opened$ | async"
    (openedStart)="onOpen()"
    (closedStart)="onClose()"
    [fixedInViewport]="true"
    #drawer>
    <div class="profile">
      <img src="../../../assets/img/parallax/portfolio.jpg" alt="" />
      <div class="overlay">
        <img class="rounded-circle" src="assets/img/profile.jpg" alt="Alwin Roosen"/>
        <h3>Alwin Roosen</h3>
        <h4>Freelance Developer</h4>
      </div>
      <button mat-icon-button (click)="drawer.close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <app-menu [drawer]="drawer"></app-menu>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
