$drawer-max-width: 280px;

.profile {
    max-width: $drawer-max-width;
    position: relative;

    > img {
        max-width: 100%;
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-color: rgba(25, 25, 25, 0.7);
    }

    > .overlay {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        > img {
            max-width: ($drawer-max-width / 4);
        }

        > h3,
        > h4 {
            color: white;
            margin: 0.25rem 0 0 0;
            white-space: nowrap;
        }

        > h3 {
        }

        > h4 {
        }
    }

    > button {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        z-index: 3;
        color: white;
    }
}
