<div class="container" appSection>
  <h2 i18n>Technologies & Frameworks</h2>
  <p i18n>
    Since there are so many technologies, frameworks and tools available these days, it is important to know which I like the most and use on a regular bases.
  </p>

  <mat-progress-spinner *ngIf="loading$ | async"></mat-progress-spinner>

  <div class="row" *ngIf="!(loading$ | async)">
    <div class="col-2" *ngFor="let group of groups$ | async">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ group.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <mat-list>
            <mat-list-item *ngFor="let skill of group.skills">{{ skill.name }}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
