@import '../../../scss/import';

:host {
    display: block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        background-color: white;
        background-image: url(/assets/img/background.png);
        opacity: 0.4;
    }

    .row > .col-2 .mat-card .mat-list-item {
        color: $text-color;
        height: 32px;
    }
}
