<div class="container" appSection>

  <h2 i18n>Portfolio</h2>
  <p class="text-center" i18n>I have put together a list of various projects to give you an idea of what I have been
    working on throughout my career as a developer. They vary greatly from building regular websites, to E-Commerce
    projects, to APIs, to some serious back-end applications. Feel free to contact me if you want to dive deeper
    into some of the projects.</p>

  <mat-progress-spinner *ngIf="loading$ | async"></mat-progress-spinner>

  <div class="row" appFadeInScroll *ngIf="!(loading$ | async)">

    <div class="col-3" *ngFor="let project of projects$ | async">

      <app-project [project]="project"></app-project>

    </div>

  </div>

</div>
