@import '../../../scss/import';

$gutter: 2em;

:host {
  display: block;
  background-color: $dark-grey;

  * {
    color: white;
  }
}

.brands {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: 0 ($gutter * -1);

  > .brand {
    padding: 0 $gutter;
    margin-bottom: $gutter;
    > img {
      max-height: 32px;
    }
  }
}

@media (min-width: map_get($breakpoints, sm)) {
  .brands > .brand > img {
    max-height: 48px;
  }
}

@media (min-width: map_get($breakpoints, md)) {
  .brands > .brand > img {
    max-height: 52px;
  }
}

@media (min-width: map_get($breakpoints, lg)) {
  .brands > .brand > img {
    max-height: 64px;
  }
}
