<div class="container" appSection>

  <h2 class="text-white" i18n>Brands</h2>
  <p class="text-center" i18n>Some of the brands I have been lucky to work for, directly or indirectly:</p>

  <div class="brands">

    <div class="brand" *ngFor="let brand of brands">

      <picture>
        <source type="image/webp" srcset="{{ getWebpImage(brand) }}">
        <source type="image/png" srcset="{{ getNormalImage(brand) }}">
        <img src="{{ getNormalImage(brand) }}" alt="{{ brand }}">
      </picture>

    </div>

  </div>

</div>
