<div appSection>
  <div class="container">
    <h2 i18n>A few kind words</h2>

    <p i18n>Below you can find a few kind words I received over the years from customers and partners. They are the reason I am addicted to the Cloud.</p>

    <mat-progress-spinner *ngIf="loading$ | async"></mat-progress-spinner>

    <div class="wrap is-set" *ngIf="!(loading$ | async)">
      <div class="carousel" #containerElement>
        <blockquote *ngFor="let quote of quotes$ | async" #quoteElement>
          <div class="content">
            <p>{{ quote.quote }}</p>
            <cite class="text-dark-grey">{{ quote.author }} ({{ quote.company }})</cite>
          </div>
          <button mat-icon-button class="prev" (click)="onClickPrevious()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-icon-button class="next" (click)="onClickNext()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </blockquote>
      </div>
    </div>

    <div class="countdown">
      <mat-progress-bar color="primary" mode="determinate" [value]="intervalPercentage"> </mat-progress-bar>
    </div>

    <p>&nbsp;</p>

    <h4 id="article-360" i18n [ngStyle]="{ textAlign: 'center' }">360 Feedback Session January 2025</h4>

    <p i18n>
      In January 2025, we held 360° feedback sessions with the Article Squad at DPG Media. This image captures the feedback I received from my teammates (Click
      to enlarge). It highlights my work ethic, collaboration, and technical expertise, as well as constructive insights to grow further. I’m proud of the
      positive impact I’ve had and grateful for the open and honest input from such a great team.
    </p>

    <a href="assets/img/article-360.jpg" target="_blank">
      <picture class="article-360">
        <source type="image/webp" srcset="assets/img/article-360.webp" />
        <source type="image/jpeg" srcset="assets/img/article-360.jpg" />
        <img src="assets/img/article-360.jpg" alt="Article Squad - 360 Session with the team - January 2025" />
      </picture>
    </a>
  </div>
</div>
