<div appSection>

  <div class="container">

    <h2 i18n>A few kind words</h2>

    <p i18n>Below you can find a few kind words I received over the years from customers and partners. They are the reason I am addicted to the Cloud.</p>

    <mat-progress-spinner *ngIf="loading$ | async"></mat-progress-spinner>

    <div class="wrap is-set" *ngIf="!(loading$ | async)">
      <div class="carousel" #containerElement>
        <blockquote *ngFor="let quote of quotes$ | async" #quoteElement>
          <div class="content">
            <p>{{ quote.quote }}</p>
            <cite class="text-dark-grey">{{ quote.author }} ({{ quote.company }})</cite>
          </div>
          <button mat-icon-button class="prev" (click)="onClickPrevious()">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
          <button mat-icon-button class="next" (click)="onClickNext()">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
        </blockquote>
      </div>
    </div>

    <div class="countdown">
      <mat-progress-bar
        color="primary"
        mode="determinate"
        [value]="intervalPercentage">
      </mat-progress-bar>
    </div>

  </div>

</div>
