@import '../../../scss/vars';

.wrap {
    overflow: hidden;

    .carousel {
        display: flex;
        left: -100%;
        list-style: none;
        margin: 0;
        padding: 0;
        position: relative;
        transform: translateX(100%);

        &.is-reversing {
            transform: translateX(100%);
        }

        &.is-set {
            transform: none;
            transition: transform 0.5s cubic-bezier(0.23, 1, 0.32, 1);
        }

        > blockquote {
            position: relative;
            flex: 1 0 calc(100% - 2em);
            order: 2;
            margin: 0 1em;
            padding: 0;
            background-color: rgb(235, 235, 235);
            border-radius: 1em;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            &.is-ref {
                order: 1;
            }

            > .content {
                padding: 1em 3em;

                cite {
                    margin-top: 0.5em;

                    &:before {
                        content: '— ';
                    }
                }
            }

            > button {
                position: absolute;
                top: 50%;
                left: 0.5em;
                transform: translateY(-50%);

                &.next {
                    left: initial;
                    right: 0.5em;
                }
            }
        }
    }
}

.countdown {
    margin-top: 1em;
    padding: 0 2em;
}
