@use '@angular/material' as mat;
@import '../../../scss/import';

:host {
  display: block;
  position: fixed;
  right: 1em;
  bottom: 1em;
  z-index: 999;

  button {
    background-color: mat.m2-get-color-from-palette($candy-app-primary);
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    width: 42px;
    height: 42px;

    .mat-icon {
      margin-top: -3px;
    }
  }
}
