@import '../../../scss/import';

:host {
    display: block;
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 999;

    button {
        background-color: mat-color($candy-app-primary);
        color: white;
        border-radius: 50%;
        border: 2px solid white;

        .mat-icon {
            margin-top: -6px;
        }
    }
}
