<div class="container" appSection>

  <h2 i18n>Languages</h2>
  <p class="text-center" i18n>My native language is Dutch, but communication at different jobs has mostly been English.</p>

  <mat-card>
    <mat-list>
      <mat-list-item>
        <h4>Dutch</h4>
        <ul>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
        </ul>
      </mat-list-item>
      <mat-list-item>
        <h4>English</h4>
        <ul>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
        </ul>
      </mat-list-item>
      <mat-list-item>
        <h4>German</h4>
        <ul>
          <li class="active"></li>
          <li class="active"></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </mat-list-item>
      <mat-list-item>
        <h4>French</h4>
        <ul>
          <li class="active"></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </mat-list-item>
    </mat-list>
  </mat-card>

</div>
