<div class="container" appSection>
  <h2 i18n>Languages</h2>
  <p class="text-center" i18n>My native language is Dutch, but communication at different jobs has been either Dutch or English, so I'm proficient in both.</p>

  <mat-card>
    <mat-list>
      <mat-list-item>
        <h4 matListItemTitle>Dutch</h4>
        <ul matListItemMeta>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
        </ul>
      </mat-list-item>
      <mat-list-item>
        <h4 matListItemTitle>English</h4>
        <ul matListItemMeta>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
        </ul>
      </mat-list-item>
      <mat-list-item>
        <h4 matListItemTitle>German</h4>
        <ul matListItemMeta>
          <li class="active"></li>
          <li class="active"></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </mat-list-item>
      <mat-list-item>
        <h4 matListItemTitle>French</h4>
        <ul matListItemMeta>
          <li class="active"></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </mat-list-item>
    </mat-list>
  </mat-card>
</div>
