@use '@angular/material' as mat;
@import '../../../scss/import';

:host {
  display: block;
  background-color: rgba(0, 0, 0, 0.05);
}

.mdc-list-item {
  justify-content: space-between;
  flex-direction: row;
  height: 32px !important;
  padding-right: 16px !important;

  h4 {
    flex: 1 0 auto;
    margin: 0;
    font-size: 16px;
    line-height: 16px;
  }

  ul {
    flex: 0 0 auto;
    margin: 0;
    padding: 0;

    > li {
      float: left;
      display: block;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.1);
      margin-right: 0.5em;

      &.active {
        background-color: mat.m2-get-color-from-palette($candy-app-primary);
      }

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}
