<div class="container" appSection>
  <h2 i18n>Featured Projects</h2>
  <p class="text-center" i18n>These are some of the most recent projects or projects I am particularly proud of. You can click on them to open the project.</p>

  <mat-progress-spinner *ngIf="loading$ | async"></mat-progress-spinner>

  <div class="grid" appFadeInScroll *ngIf="!(loading$ | async)">
    <app-project [project]="project" [isFeatured]="true" *ngFor="let project of projects$ | async"></app-project>
  </div>
</div>
