<div class="container" appSection>

  <h2 i18n>Featured Projects</h2>
  <p class="text-center" i18n>These are some of the most recent projects or projects I am particularly proud of. You can click on them to open the project.</p>

  <mat-progress-spinner *ngIf="loading$ | async"></mat-progress-spinner>

  <div class="row" appFadeInScroll *ngIf="!(loading$ | async)">

    <div class="col-2" *ngFor="let project of projects$ | async">

      <app-project [project]="project" [isFeatured]="true"></app-project>

    </div>

  </div>

</div>
