<app-background></app-background>

<div class="overlay">

  <div>

    <div class="info">

      <h1 i18n="Main website title">Alwin Roosen</h1>
      <h3 i18n="Main website subtitle">Freelance Consultant & Developer</h3>

      <div class="buttons">

        <div class="read-more">

          <button
            mat-raised-button
            color="primary"
            role="button"
            i18n-title
            title="Read More"
            (click)="scrollTo(Section.ABOUT_ME)">
            <span i18n="button">Read More</span>
          </button>

        </div>

        <button mat-raised-button color="warn" role="button" class="visit-my-website">Please visit my portfolio website <a href="https://alwinroosen.tech/" target="_blank">https://alwinroosen.tech/</a></button>

        <div class="social-buttons">

          <app-social-button svgIcon="linkedin"
                             uri="https://www.linkedin.com/in/alwinroosen/"
                             i18n-title="Social icon title - LinkedIn"
                             title="LinkedIn"
                             label="@alwinroosen">
          </app-social-button>

          <app-social-button svgIcon="skype"
                             uri="skype:alwinroosen?add"
                             i18n-title="Social icon title - Skype"
                             title="Skype"
                             label="@alwinroosen">
          </app-social-button>

          <app-social-button icon="domain"
                             uri="https://ardynamics.eu"
                             i18n-title="Social icon title - Corporate website"
                             title="My Company"
                             label="https://ardynamics.eu">
          </app-social-button>

          <app-social-button icon="email"
                             uri="mailto:alwin.roosen@ardynamics.eu"
                             i18n-title="Social icon title - Email"
                             title="E-mail me"
                             label="alwin.roosen@ardynamics.eu">
          </app-social-button>

          <app-social-button icon="phone_android"
                             uri="tel:+32495241414"
                             i18n-title="Social icon title - Phone"
                             title="Call me"
                             label="+32 (495) 241414">
          </app-social-button>

        </div>

      </div>

    </div>

    <div class="photo">

      <picture>
        <source type="image/webp" srcset="assets/img/profile.webp">
        <source type="image/png" srcset="assets/img/profile.jpg">
        <img src="assets/img/profile.jpg" alt="Alwin Roosen" class="rounded-circle border">
      </picture>

    </div>

  </div>

</div>
