@import '../../../scss/vars';

:host {
  display: block;
  height: calc(100vh - 64px);
  position: relative;
}

.visit-my-website {
  display: none;
}

@media print {
  .visit-my-website {
    display: block !important;
    margin-bottom: 3rem !important;
    text-align: center;
    background-color: #ba1a1a !important;
    color: white !important;
    font-size: 18px !important;

    * {
      font-family: Roboto, serif !important;
      font-size: 18px !important;
      color: white !important;
      vertical-align: top !important;
      text-decoration: none !important;
    }
  }
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 75%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;

  > div {
    display: flex;
    flex-direction: column-reverse;

    > .info {
      flex: 2 1 0;

      > h1 {
        font-size: 3rem;
        margin: 0 0 0.5rem 0;
        line-height: 1.4;
        font-weight: normal;
      }

      > h3 {
        font-size: 2rem;
        margin: 0 0 2.5rem 0;
        line-height: 1.4;
        font-weight: normal;
      }

      > .buttons {
        display: flex;
        flex-direction: column;

        button {
          margin-bottom: 10px;
          margin-right: 10px;
        }

        > .social-buttons {
          display: flex;
          flex-direction: row;
          align-self: center;

          ::ng-deep a {
            margin-bottom: 10px;
            margin-right: 10px;
          }
        }
      }
    }

    > .photo {
      flex: 1 1 0;

      img.border {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        border: 6px solid $text-color !important;
      }
    }
  }
}

@media screen and (min-width: map_get($breakpoints, sm)) {
  .overlay {
    text-align: initial;

    > div {
      flex-direction: row;

      > .info {
        > .buttons {
          > .social-buttons {
            align-self: start;
          }
        }
      }

      > .photo {
        margin-left: 20px;

        img.border {
          width: 150px;
          height: 150px;
        }
      }
    }
  }
}

@media screen and (min-width: map_get($breakpoints, md)) {
  .overlay {
    > div {
      > .info {
        align-self: center;

        > .buttons {
          flex-direction: row;
        }
      }
      > .photo {
        img.border {
          width: 240px;
          height: 240px;
        }
      }
    }
  }
}
