@import '../../../scss/import';

h1 {
  color: white;
  font-size: 1em;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.9);
}

@media screen and (min-width: map_get($breakpoints, sm)) {
  h1 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: map_get($breakpoints, lg)) {
  h1 {
    font-size: 2.5em;
  }
}
