@use '@angular/material' as mat;
@import '../../../scss/import';

:host {
  display: block;
  background-color: mat.m2-get-color-from-palette($candy-app-primary);

  * {
    color: white;
  }

  .mat-icon {
    zoom: 1.5;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

h1 {
  color: white;
  font-size: 1em;
  text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.9);
}

@media screen and (min-width: map_get($breakpoints, sm)) {
  h1 {
    font-size: 1.75em;
  }
}

@media screen and (min-width: map_get($breakpoints, lg)) {
  h1 {
    font-size: 2.5em;
  }
}

.list {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 50px 1fr;
  row-gap: 2rem;
}

.mat-icon {
  place-self: center stretch;
}
