<div class="container" appSection>
    <h2 i18n>Leadership & Coaching</h2>
    <p i18n>
        With a strong background in technical leadership, I empower teams to excel by fostering collaboration and driving technical excellence.
    </p>

    <div class="list">
        <mat-icon color="primary">groups</mat-icon>
        <div>
            <h3 i18n>Mentoring & Coaching</h3>
            <small class="text-dark-grey" i18n>
                Guiding junior and senior developers through pair programming, knowledge sharing, and career growth support.
            </small>
        </div>
        <mat-icon color="primary">checklist</mat-icon>
        <div>
            <h3 i18n>Code Reviews & Best Practices</h3>
            <small class="text-dark-grey" i18n>
                Promoting TDD, clean code standards, and improving code quality through detailed reviews.
            </small>
        </div>
        <mat-icon color="primary">architecture</mat-icon>
        <div>
            <h3 i18n>Technical Direction</h3>
            <small class="text-dark-grey" i18n>
                Providing architectural guidance, tool recommendations, and solving complex technical challenges.
            </small>
        </div>
        <mat-icon color="primary">handshake</mat-icon>
        <div>
            <h3 i18n>Stakeholder Collaboration</h3>
            <small class="text-dark-grey" i18n>
                Aligning technical solutions with business needs, collaborating with product owners and analysts.
            </small>
        </div>
        <mat-icon color="primary">groups_2</mat-icon>
        <div>
            <h3 i18n>Team Culture</h3>
            <small class="text-dark-grey" i18n>
                Building a collaborative and inclusive team environment that encourages experimentation and growth.
            </small>
        </div>
    </div>
</div>
