<app-sidenav>
  <div id="top"></div>
  <app-header></app-header>
  <app-go-to-top></app-go-to-top>
  <app-showcase-button *ngIf="showcaseDismissedAt$" (click)="openShowcase()" (keyup)="openShowcase()"></app-showcase-button>
  <app-intro></app-intro>
  <div id="about-me"></div>
  <app-parallax id="addicted" src="assets/img/parallax/addicted_to_cloud.jpg">
    <app-addicted></app-addicted>
  </app-parallax>
  <app-about-me></app-about-me>
  <app-quotes></app-quotes>
  <div id="skills"></div>
  <app-skills></app-skills>
  <div id="leadership"></div>
  <app-leadership></app-leadership>
  <div id="languages"></div>
  <app-languages></app-languages>
  <app-parallax src="assets/img/parallax/graduation.jpg"></app-parallax>
  <div id="certificates"></div>
  <app-certificates-training></app-certificates-training>
  <div id="services"></div>
  <app-services></app-services>
  <div id="featured"></div>
  <app-featured></app-featured>
  <div id="history"></div>
  <app-history></app-history>
  <div id="brands"></div>
  <app-brands></app-brands>
  <app-parallax src="assets/img/parallax/portfolio.jpg"></app-parallax>
  <div id="portfolio"></div>
  <app-portfolio></app-portfolio>
  <app-footer></app-footer>
</app-sidenav>
