a {
  padding: 1px 0 0 0;
  background-color: var(--mdc-protected-button-container-color);
  box-shadow: var(--mdc-protected-button-container-elevation-shadow);

  mat-icon {
    color: #005cbb;
  }
}

@media print {
  a {
    mat-icon {
      margin-top: 6px;
    }
  }
}
