<a
  #button
  href="{{ uri }}"
  mat-mini-fab
  matTooltip="{{ label }}"
  matTooltipPosition="below"
  [matTooltipHideDelay]="250"
  role="button"
  target="_blank"
  title="{{ title }}"
>
  <mat-icon *ngIf="icon">{{ icon }}</mat-icon>
  <mat-icon *ngIf="svgIcon" [svgIcon]="svgIcon"></mat-icon>
</a>
