<footer class="container" [appSection]="1">
  <p class="text-center">{{ year }} © Alwin Roosen - Freelance Consultant & Developer</p>
  <p class="text-center"><a href="mailto:alwin.roosen@ardynamics.eu">alwin.roosen&#64;ardynamics.eu</a></p>
</footer>
