<ng-container *ngIf="isVertical">
  <mat-nav-list>
    <a mat-list-item (click)="scrollTo(Section.ABOUT_ME)">
      <mat-icon matListItemIcon>person</mat-icon>
      <span matListItemTitle i18n>About Me</span>
    </a>
    <a mat-list-item (click)="scrollTo(Section.SKILLS)">
      <mat-icon matListItemIcon>widgets</mat-icon>
      <span matListItemTitle i18n>Technologies & Frameworks</span>
    </a>
    <a mat-list-item (click)="scrollTo(Section.LEADERSHIP)">
      <mat-icon matListItemIcon>local_library</mat-icon>
      <span matListItemTitle i18n>Leadership & Coaching</span>
    </a>
    <a mat-list-item (click)="scrollTo(Section.LANGUAGES)">
      <mat-icon matListItemIcon>spellcheck</mat-icon>
      <span matListItemTitle i18n>Languages</span>
    </a>
    <a mat-list-item (click)="scrollTo(Section.CERTIFICATES)">
      <mat-icon matListItemIcon>verified_user</mat-icon>
      <span matListItemTitle i18n>Certificates & Training</span>
    </a>
    <a mat-list-item (click)="scrollTo(Section.SERVICES)">
      <mat-icon matListItemIcon>assignment</mat-icon>
      <span matListItemTitle i18n>Services</span>
    </a>
    <a mat-list-item (click)="scrollTo(Section.FEATURED)">
      <mat-icon matListItemIcon>featured_video</mat-icon>
      <span matListItemTitle i18n>Featured Projects</span>
    </a>
    <a mat-list-item (click)="scrollTo(Section.HISTORY)">
      <mat-icon matListItemIcon>history</mat-icon>
      <span matListItemTitle i18n>Work History</span>
    </a>
    <a mat-list-item (click)="scrollTo(Section.BRANDS)">
      <mat-icon matListItemIcon>business</mat-icon>
      <span matListItemTitle i18n>Brands</span>
    </a>
    <a mat-list-item (click)="scrollTo(Section.PORTFOLIO)">
      <mat-icon matListItemIcon>shop</mat-icon>
      <span matListItemTitle i18n>Portfolio</span>
    </a>
  </mat-nav-list>
</ng-container>

<ng-container *ngIf="!isVertical">
  <div class="button-row">
    <button mat-button (click)="scrollTo(Section.ABOUT_ME)" i18n>About Me</button>
    <button mat-button (click)="scrollTo(Section.SKILLS)" i18n>Skills</button>
    <button mat-button (click)="scrollTo(Section.LEADERSHIP)" i18n>Leadership & Coaching</button>
    <button mat-button (click)="scrollTo(Section.CERTIFICATES)" i18n>Training</button>
    <button mat-button (click)="scrollTo(Section.SERVICES)" i18n>Services</button>
    <button mat-button (click)="scrollTo(Section.FEATURED)" i18n>Featured Projects</button>
    <button mat-button (click)="scrollTo(Section.HISTORY)" i18n>Work History</button>
    <button mat-button (click)="scrollTo(Section.PORTFOLIO)" i18n>Portfolio</button>
  </div>
</ng-container>
