@use '@angular/material' as mat;

@import '../../../scss/vars.scss';

.mat-mdc-list-item {
  border-bottom: 1px solid $border-color;
  @include mat.list-overrides((
          active-indicator-shape: 0,
          list-item-leading-icon-end-space: 20,
          list-item-one-line-container-height: 54px,
          list-item-label-text-line-height: 32px
  ));

  span {
    margin-left: .5rem;
  }
}
