@import '../../../scss/vars.scss';

.mat-list-base .mat-list-item {
    border-bottom: 1px solid $border-color;
    height: 54px;
    font-size: 14px;
}

.mat-list-text {
    padding-left: 0.5rem !important;
}

.mat-icon,
.mat-list-text {
    color: $dark-grey;
}
