@import '../../../scss/import';

canvas {
  position: static;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 56px);
  z-index: -1;
  background-color: white;
  background-image: url(/assets/img/background.png);
  opacity: 0.4;
}

@media screen and (min-width: map_get($breakpoints, sm)) {
  canvas {
    height: calc(100vh - 64px);
  }
}
