@use '@angular/material' as mat;
@import '../../../scss/import';

:host {
  display: block;
  background-color: mat.m2-get-color-from-palette($candy-app-primary);

  * {
    color: white;
  }

  .col-3 {
    .text-center {
    }
  }

  .mat-icon {
    zoom: 2;
  }

  h3 {
    font-size: 1.25rem;
  }
}
