@import '../../../scss/import';

:host {
    display: block;
    background-color: mat-color($candy-app-primary);

    * {
        color: white;
    }

    .col-3 {
        .text-center {
        }
    }

    .mat-icon {
        zoom: 2;
    }
}
