<div class="container" appSection>
  <h2 i18n>Services</h2>
  <p i18n>
    All work is billed on a day rate basis (8 hours/day) with consulting-only services at a fixed price. I always bill in €(EUR) and all prices are VAT
    excluded. If your project requires a fixed price then this is possible. My rates are non-negotiable.
  </p>

  <div class="row">
    <div class="col-3 text-center">
      <mat-icon color="primary">code</mat-icon>
      <h3 i18n>Front-End Development</h3>
      <small class="text-dark-grey" i18n
        >Looking to build an awesome web-app, or rewrite an existing app with modern technologies? You can't go wrong with technologies like Node.js, React,
        Angular & Typescript.</small
      >
    </div>

    <div class="col-3 text-center">
      <mat-icon color="primary">cloud</mat-icon>
      <h3 i18n>Cloud Infrastructure</h3>
      <small class="text-dark-grey" i18n
        >Building your application or website is one thing, but how are you going to make sure it always works? Allow me to assist in setting up your Cloud
        infrastructure.</small
      >
    </div>

    <div class="col-3 text-center">
      <mat-icon color="primary">info</mat-icon>
      <h3 i18n>Consultancy</h3>
      <small class="text-dark-grey" i18n
        >I can provide consultancy as a Cloud Solutions Architect, analysing your business needs and provide a detailed report with all the applications to use
        and how they interconnect.</small
      >
    </div>

    <div class="col-3 text-center">
      <mat-icon color="primary">developer_board</mat-icon>
      <h3 i18n>Back-End Development</h3>
      <small class="text-dark-grey" i18n
        >From SQL/NoSQL databases, to server-side programming, to building user-friendly APIs. I have been doing that for many years and I love a good
        challenge!</small
      >
    </div>

    <div class="col-3 text-center">
      <mat-icon color="primary">euro_symbol</mat-icon>
      <h3 i18n>E-Commerce</h3>
      <small class="text-dark-grey" i18n
        >I can help architect, design, and implement a professional E-commerce website based on WooCommerce, with custom plugins to make your business run
        smoothly.</small
      >
    </div>

    <div class="col-3 text-center">
      <mat-icon color="primary">collections</mat-icon>
      <h3 i18n>Webdesign</h3>
      <small class="text-dark-grey" i18n
        >From a simple one-page design to a multi-language business website. We can start from an existing template, or from scratch, and even build custom
        plugins.</small
      >
    </div>
  </div>
</div>
