@import '../../../scss/import';

:host {
    display: block;
    position: relative;
    border-top: 1px solid rgba(0, 0, 0, 0.05);

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        display: block;
        background-color: white;
        background-image: url(/assets/img/background.png);
        opacity: 0.4;
    }

    .mat-chip-list {
        margin-left: auto;
        flex: 0 0 auto;
    }
}

.avatar-gs1 {
    background-image: url(/assets/img/companies/gs1.webp);
    background-size: cover;
}

.avatar-ardynamics {
    background-image: url(/assets/img/companies/ardynamics.webp);
    background-size: cover;
}

.avatar-vente-exclusive {
    background-image: url(/assets/img/companies/vente-exclusive.webp);
    background-size: cover;
}

.avatar-wegrafics {
    background-image: url(/assets/img/companies/wegrafics.webp);
    background-size: cover;
}

.avatar-boox {
    background-image: url(/assets/img/companies/boox.webp);
    background-size: cover;
}

.avatar-zibbra {
    background-image: url(/assets/img/companies/zibbra.webp);
    background-size: cover;
}

.avatar-webline {
    background-image: url(/assets/img/companies/webline.webp);
    background-size: cover;
}

.avatar-handelsgids {
    background-image: url(/assets/img/companies/handelsgids.webp);
    background-size: cover;
}

.avatar-shootsupply {
    background-image: url(/assets/img/brands/shootsupply.webp);
    background-size: cover;
}

.no-webp {
    .avatar-gs1 {
        background-image: url(/assets/img/companies/gs1.jpg);
    }

    .avatar-ardynamics {
        background-image: url(/assets/img/companies/ardynamics.jpg);
    }

    .avatar-vente-exclusive {
        background-image: url(/assets/img/companies/vente-exclusive.jpg);
    }

    .avatar-wegrafics {
        background-image: url(/assets/img/companies/wegrafics.jpg);
    }

    .avatar-boox {
        background-image: url(/assets/img/companies/boox.jpg);
    }

    .avatar-zibbra {
        background-image: url(/assets/img/companies/zibbra.jpg);
    }

    .avatar-webline {
        background-image: url(/assets/img/companies/webline.jpg);
    }

    .avatar-handelsgids {
        background-image: url(/assets/img/companies/handelsgids.jpg);
    }

    .avatar-shootsupply {
        background-image: url(/assets/img/brands/shootsupply.png);
    }
}
