<div class="container" appSection>
  <h2 i18n>Work History / Experience</h2>
  <p class="text-center" i18n>
    I have been a freelancer most of my career after graduation. I have worked for a few companies, and was managing partner in some of them as well.
  </p>
  <p class="text-center" i18n>Today I am really focused on Cloud Technologies and would like to continue in this expertise.</p>

  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-ardynamics"></div>
          <mat-card-title i18n>Owner</mat-card-title>
          <mat-card-subtitle>AR Dynamics</mat-card-subtitle>
          <mat-chip i18n>Nov 2013 - Present</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>AR Dynamics is just my freelance company.</p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-dpgmedia"></div>
          <mat-card-title i18n>Senior Fullstack Developer</mat-card-title>
          <mat-card-subtitle>DPG Media</mat-card-subtitle>
          <mat-chip i18n>Dec 2020 - Present</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>
            Building various applications throughout the years, both backend and frontend. Main focus for the past 2 years on building a collaborative article
            editor for the company.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-nlt"></div>
          <mat-card-title i18n>Owner</mat-card-title>
          <mat-card-subtitle>Nice Little Things</mat-card-subtitle>
          <mat-chip i18n>Dec 2019 - Present</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>
            At Nice Little Things we create the most unique and high-quality personalized gifts and party supplies. I have custom build all the applications we
            use in our workshop, as well as the webshop in NextJS.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-gs1"></div>
          <mat-card-title i18n>Senior Front-End Developer</mat-card-title>
          <mat-card-subtitle>GS1 Belgium & Luxembourg</mat-card-subtitle>
          <mat-chip i18n>Mar 2019 - Nov 2020</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>
            In charge of architecture and development, specifically for the various front-end applications GS1 is building from scratch. We're using .NET in the
            backend and Angular in the Front-End, with a fully automated test suite and CI/CD using Azure DevOps.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-vente-exclusive"></div>
          <mat-card-title i18n>Senior Front-End Developer</mat-card-title>
          <mat-card-subtitle>Vente-Exclusive.com</mat-card-subtitle>
          <mat-chip i18n>Jul 2017 - Feb 2019</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>
            I started at Vente-Exclusive with a temporary refactoring job, to make sure the Angular webshop project was put back on the rails, and had a solid
            foundation for the migration of existing countries. I quickly became a full-time front-end lead developer, while also playing with architecture and
            .NET micro services. After the convergence with VP Group started, I took the lead on the micro-frontend portal project, which we are still working
            on today.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-wegrafics"></div>
          <mat-card-title i18n>Freelance Developer</mat-card-title>
          <mat-card-subtitle>Wegrafics</mat-card-subtitle>
          <mat-chip i18n>Jan 2016 - Mar 2019</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>
            As Wegrafics started to build some websites for customers, they required more advanced technologies and solutions. I have been helping them every
            now and then with a couple of projects, some small websites, but also more complicated custom applications.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-shootsupply"></div>
          <mat-card-title i18n>Owner</mat-card-title>
          <mat-card-subtitle>Shoot Supply</mat-card-subtitle>
          <mat-chip i18n>Jan 2014 - Jul 2018</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>
            My hobby is IPSC, a dynamic shooting sport. As such I have founded my own company and started a webshop, selling all the gear we use in our sport.
            It has been a succesfull and exciting adventure, but recently (2018) I decided to sell the business and focus entirely on my ICT career.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-boox"></div>
          <mat-card-title i18n>Freelance Solutions Architect</mat-card-title>
          <mat-card-subtitle>Boox Business Boosters</mat-card-subtitle>
          <mat-chip i18n>May 2017 - Sep 2017</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>
            I have been a consultant for this accountancy agency for a couple of months, helping them with a few e-commerce customers. Analyzing the issues at
            hand, and providing a detailed report to further automate and integrate with all the accountancy software used by the agency.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-zibbra"></div>
          <mat-card-title i18n>CTO</mat-card-title>
          <mat-card-subtitle>Zibbra</mat-card-subtitle>
          <mat-chip i18n>Jan 2012 - Jun 2017</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>
            Co-Founder and CTO of Zibbra, which is a cloud-based e-commerce platform, which allows you to setup an e-commerce project in no time. I have been
            responsible for the entire cloud architecture and tooling / conventions for the front-end and backend applications. We also did a lot of custom work
            for many customers. Unfortunately, the business has been closed recently due to lack of investment.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-webline"></div>
          <mat-card-title i18n>IT Manager</mat-card-title>
          <mat-card-subtitle>Webline Hosting</mat-card-subtitle>
          <mat-chip i18n>Jan 2006 - Apr 2015</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>
            I started my career at Webline Hosting as a system administrator and architect of the hosting business. Slowly transitioned towards development,
            building custom applications for our customers (backoffice / tooling). Quickly became a lead developer and eventually transitioned to the role of IT
            manager within the company, leading a team of on-site and offshore developers.
          </p>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="col">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="avatar-handelsgids"></div>
          <mat-card-title i18n>Web Developer</mat-card-title>
          <mat-card-subtitle>VideoLP - Handelsgids</mat-card-subtitle>
          <mat-chip i18n>Sep 2003 - Dec 2005</mat-chip>
        </mat-card-header>
        <mat-card-content>
          <p i18n>
            Started my first ever job as a web developer, building the handelsgids.be website and various websites for our customers. Founded L&#64;n247 BVBA
            and continued working Freelance for VideoLP while accepting various small jobs as a network administrator and IT supplier.
          </p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
