<div class="container" appSection>
  <h2 i18n>Certificates & Training</h2>

  <p i18n>
    While I have many years of experience and am skilled with many technologies, I do not have a lot of certificates. In my opinion experience beats
    certification any time. Here's a summary of some courses I have completed:
  </p>

  <div class="row">
    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Graduation MCT</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/howest.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/howest.jpg" />
          <img mat-card-image src="assets/img/cards/howest.jpg" alt="Howest PIH" />
        </picture>
        <mat-card-content>
          <p>Graduate Multimedia & Communication Technology at Howest dept. PIH Kortrijk, Belgium</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="assets/docs/Diploma_MCT.pdf" target="_blank" mat-stroked-button color="primary">Certificate</a>
          <span>&nbsp;</span>
          <a href="https://www.pih.be/professionele-bachelors/multimedia-en-communicatietechnologie/" target="_blank" mat-stroked-button color="primary"
            >Website</a
          >
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>AWS Certification</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/aws-certification.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/aws-certification.jpg" />
          <img mat-card-image src="assets/img/cards/aws-certification.jpg" alt="AWS Certification" />
        </picture>
        <mat-card-content>
          <p>Associate:</p>
          <p style="line-height: 16px">- Solutions Architect <sup>*</sup><br />- Developer <sup>*</sup><br />- SysOps Administrator <sup>*</sup></p>
          <small>* currently expired</small>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://aws.amazon.com/certification/" target="_blank" mat-stroked-button color="primary">Website</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>React Complete Guide</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/react.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/react.jpg" />
          <img mat-card-image src="assets/img/cards/react.jpg" alt="React" />
        </picture>
        <mat-card-content>
          <p>React, Hooks, Redux, React Router, Next.js, Best Practices and way more!</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://www.udemy.com/course/react-the-complete-guide-incl-redux/" target="_blank" mat-stroked-button color="primary">Website</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>AngularJS 2</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/angular-2.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/angular-2.jpg" />
          <img mat-card-image src="assets/img/cards/angular-2.jpg" alt="AngularJS 2" />
        </picture>
        <mat-card-content>
          <p>AngularJS 2 Certification</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="assets/docs/angularjs2.pdf" target="_blank" mat-stroked-button color="primary">Certificate</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Angular 6</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/angular-2.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/angular-2.jpg" />
          <img mat-card-image src="assets/img/cards/angular-2.jpg" alt="Angular 6" />
        </picture>
        <mat-card-content>
          <p>Angular 6 (formerly Angular 2)</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://www.udemy.com/the-complete-guide-to-angular-2/" target="_blank" mat-stroked-button color="primary">Website</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>NodeJS Complete guide</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/nodejs.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/nodejs.jpg" />
          <img mat-card-image src="assets/img/cards/nodejs.jpg" alt="NodeJS" />
        </picture>
        <mat-card-content>
          <p>Master Node JS & Deno.js, build REST APIs with Node.js, GraphQL APIs, add Authentication, use MongoDB, SQL & much more!</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://www.udemy.com/course/nodejs-the-complete-guide/?couponCode=ACCAGE0923" target="_blank" mat-stroked-button color="primary">Website</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>AWS Serverless</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/aws-serverless.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/aws-serverless.jpg" />
          <img mat-card-image src="assets/img/cards/aws-serverless.jpg" alt="AWS Serverless" />
        </picture>
        <mat-card-content>
          <p>AWS serverless computing with API Gateway, AWS Lambda and other Amazon Web Services! Zero server config APIs & SPAs</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="assets/docs/UC-VAULAZX8.pdf" target="_blank" mat-stroked-button color="primary">Certificate</a>
          <span>&nbsp;</span>
          <a href="https://www.udemy.com/aws-serverless-a-complete-introduction/" target="_blank" mat-stroked-button color="primary">Website</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Docker Fundamentals</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/docker.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/docker.jpg" />
          <img mat-card-image src="assets/img/cards/docker.jpg" alt="Docker Fundamentals" />
        </picture>
        <mat-card-content>
          <p>Docker Fundamentals<br /><i>- A Cloud Guru -</i></p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://diveintodocker.com/" target="_blank" mat-stroked-button color="primary">Website</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Insights Discovery</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/insights.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/insights.jpg" />
          <img mat-card-image src="assets/img/cards/insights.jpg" alt="Insights Discovery" />
        </picture>
        <mat-card-content>
          <p>In-depth insights discovery profile of Alwin Roosen</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="assets/docs/insights.pdf" target="_blank" mat-stroked-button color="primary">Certificate</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Clean Code</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/clean-code.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/clean-code.jpg" />
          <img mat-card-image src="assets/img/cards/clean-code.jpg" alt="Clean Code" />
        </picture>
        <mat-card-content>
          <p>Readable, understandable and therefore maintainable code</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://www.udemy.com/course/writing-clean-code/" target="_blank" mat-stroked-button color="primary">Website</a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Domain Driven Design</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/ddd.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/ddd.jpg" />
          <img mat-card-image src="assets/img/cards/ddd.jpg" alt="Domain Driven Design" />
        </picture>
        <mat-card-content>
          <p>
            Entities, Value Objects, Aggregates, Repositories, Services, Factories, Bounded Contexts, Ubiquitous Language, Domain Events, Ports and Adapters
            (Hexagonal Architecture)
          </p>
        </mat-card-content>
        <mat-card-actions>
          <a href="https://www.udemy.com/course/domain-driven-design-complete-software-architecture-course/" target="_blank" mat-stroked-button color="primary"
            >Website</a
          >
        </mat-card-actions>
      </mat-card>
    </div>

    <div class="col-3">
      <mat-card>
        <mat-card-header>
          <mat-card-title>BSD Associate</mat-card-title>
        </mat-card-header>
        <picture>
          <source type="image/webp" srcset="assets/img/cards/bsda.webp" />
          <source type="image/jpeg" srcset="assets/img/cards/bsda.jpg" />
          <img mat-card-image src="assets/img/cards/bsda.jpg" alt="BSD Associate" />
        </picture>
        <mat-card-content>
          <p>BSD Associate Certification</p>
        </mat-card-content>
        <mat-card-actions>
          <a href="http://www.bsdcertification.org/certification/certification/bsd-associate.html" target="_blank" mat-stroked-button color="primary"
            >Website</a
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
