.mat-mdc-card {
  display: flex;
  height: 100%;

  .mat-mdc-card-title {
    font-size: 15px;
    font-weight: bold;
  }

  .mat-mdc-card-content {
    font-size: 13px;
    flex-grow: 1;
  }

  picture,
  picture img {
    max-width: 100%;
  }

  .mdc-button {
    padding: 0 8px;
    max-height: 28px;
  }
}
