@import '../../../scss/import';

@media print {
    :host {
        display: none;
    }
}

header {
    position: relative;
    margin-left: -16px;
    margin-right: -16px;
    margin-top: -8px;
    padding: 0.4em 0;
    background-color: mat-color($candy-app-primary);

    h1 {
        color: white;
        text-align: center;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
    }

    > button {
        position: absolute;
        top: 0.25rem;
        right: 0.25rem;
        z-index: 3;
        color: white;
    }
}

section {
    .info {
        display: flex;
        flex-direction: column-reverse;

        > .info-summary {
            .lists {
                display: flex;
                flex-direction: row;
                > .mat-list {
                    flex: 1;
                    padding-top: 0;
                }
            }
        }

        > .info-schematic {
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;

            img {
                max-width: 100%;
                max-height: 393px;
            }
        }
    }
    .logos {
        margin-top: 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        > .logo {
            justify-content: center;
            flex-wrap: wrap;
            text-align: center;
            margin-right: 10px;

            &:last-of-type {
                margin-right: 0;
            }

            img {
                max-width: 100%;
                max-height: 40px;
            }
        }
    }
}

@media screen and (min-width: map_get($breakpoints, sm)) {
    section {
        .logos {
            > .logo {
                margin-right: 20px;
            }
        }
    }
}

@media screen and (min-width: map_get($breakpoints, lg)) {
    section {
        .info {
            flex-direction: row;

            > .info-summary {
                margin-right: 30px;
                .lists {
                    display: flex;
                    flex-direction: column;
                }
            }
        }
        .logos {
            > .logo {
                margin-right: 30px;
            }
        }
    }
}
