<header>
  <h1 i18n>How this website is built</h1>
  <button mat-icon-button (click)="onClose()">
    <mat-icon>close</mat-icon>
  </button>
</header>
<section>
  <div class="introduction">
    <p i18n>This website is completely serverless, there are no servers and/or hosting to maintain, because I use the flexible and scalable services of Amazon AWS.</p>
    <p i18n>It is way overbuilt, but does showcase what I love to do most. Feel free to check out the <a href="https://bitbucket.org/ardynamics/alwinroosen.tech" target="_blank">code on BitBucket</a>.</p>
  </div>
  <div class="info">
    <div class="info-summary">
      <p i18n>Summary of technologies used:</p>
      <div class="lists">
        <mat-list dense>
          <mat-list-item i18n>Serverless Framework</mat-list-item>
          <mat-list-item i18n>Amazon AWS CloudFront</mat-list-item>
          <mat-list-item i18n>Amazon AWS Lambda</mat-list-item>
          <mat-list-item i18n>Amazon AWS API Gateway</mat-list-item>
          <mat-list-item i18n>Amazon AWS DynamoDB</mat-list-item>
          <mat-list-item i18n>Amazon AWS S3 Web Hosting</mat-list-item>
        </mat-list>
        <mat-list dense>
          <mat-list-item i18n>Angular 10 & Angular Material</mat-list-item>
          <mat-list-item i18n>Angular PWA / Service Workers</mat-list-item>
          <mat-list-item i18n>NgXS Redux Store</mat-list-item>
          <mat-list-item i18n>Prettier</mat-list-item>
          <mat-list-item i18n>Slack Integration</mat-list-item>
          <mat-list-item i18n>BitBucket Pipelines</mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="info-schematic">
      <picture>
        <source type="image/webp" srcset="assets/img/showcase/schematic.webp">
        <source type="image/png" srcset="assets/img/showcase/schematic.png">
        <img src="assets/img/showcase/schematic.png" alt="Serverless Setup">
      </picture>
    </div>
  </div>
  <div class="logos">
    <div class="logo">
      <picture>
        <source type="image/webp" srcset="assets/img/showcase/aws.webp">
        <source type="image/png" srcset="assets/img/showcase/aws.png">
        <img src="assets/img/showcase/aws.png" alt="Amazon AWS">
      </picture>
    </div>
    <div class="logo">
      <picture>
        <source type="image/webp" srcset="assets/img/showcase/serverless.webp">
        <source type="image/png" srcset="assets/img/showcase/serverless.png">
        <img src="assets/img/showcase/serverless.png" alt="Serverless">
      </picture>
    </div>
    <div class="logo">
      <picture>
        <source type="image/webp" srcset="assets/img/showcase/angular.webp">
        <source type="image/png" srcset="assets/img/showcase/angular.png">
        <img src="assets/img/showcase/angular.png" alt="Angular">
      </picture>
    </div>
    <div class="logo">
      <picture>
        <source type="image/webp" srcset="assets/img/showcase/material.webp">
        <source type="image/png" srcset="assets/img/showcase/material.png">
        <img src="assets/img/showcase/material.png" alt="Material Design">
      </picture>
    </div>
    <div class="logo">
      <picture>
        <source type="image/webp" srcset="assets/img/showcase/ngxs.webp">
        <source type="image/png" srcset="assets/img/showcase/ngxs.png">
        <img src="assets/img/showcase/ngxs.png" alt="NgXS">
      </picture>
    </div>
    <div class="logo">
      <picture>
        <source type="image/webp" srcset="assets/img/showcase/prettier.webp">
        <source type="image/png" srcset="assets/img/showcase/prettier.png">
        <img src="assets/img/showcase/prettier.png" alt="Prettier">
      </picture>
    </div>
    <div class="logo">
      <picture>
        <source type="image/webp" srcset="assets/img/showcase/slack.webp">
        <source type="image/png" srcset="assets/img/showcase/slack.png">
        <img src="assets/img/showcase/slack.png" alt="Slack">
      </picture>
    </div>
  </div>
</section>
