:host {
  position: fixed;
  bottom: 1em;
  left: 1em;
  z-index: 999;

  button {
    background-color: red;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
    width: 42px;
    height: 42px;
  }

  mat-icon {
    margin-top: -3px;
  }
}
