@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

@import 'import';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Create the theme object (a Sass map containing all of the palettes).
$candy-app-theme: mat-light-theme($candy-app-primary, $candy-app-accent, $candy-app-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($candy-app-theme);

body,
html {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

* {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
}

.container {
    padding-left: 2em;
    padding-right: 2em;
}

.fill-remaining-space {
    flex: 1 1 auto;
}

.rounded-circle {
    border-radius: 50% !important;
}

.border {
    border: 1px solid $border-color !important;
}

.mat-snack-bar-container {
    background-color: $light-grey;
    color: #000;
    &.error {
        color: darkred;
    }
}

.tooltip-lg {
    font-size: 0.85em;
}

.mat-subheader {
    padding: 0 !important;
    margin: 0 !important;
    font-size: 1em;
}

.mat-list-base[dense] {
    > .mat-list-item {
        height: 27px !important;
        .mat-list-text {
            font-size: 16px;
        }
    }
}

.mat-card {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    height: calc(100% - 32px);

    .mat-card-actions {
        margin-top: auto;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Raleway', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
}

h2 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1em;

    &:after {
        content: '';
        display: block;
        border-bottom: 2px solid mat-color($candy-app-primary);
        width: 20%;
        margin-left: 40%;
        padding-top: 1rem;
    }

    &.text-white:after {
        border-bottom: 2px solid rgba(255, 255, 255, 0.75);
    }
}

hr {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    color: transparent;
    border: none;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: mat-color($candy-app-primary);
}

.text-light-grey {
    color: $light-grey;
}

.text-dark-grey {
    color: $dark-grey;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin: 0 ($gutter * -0.5);
    box-sizing: border-box;

    > .col {
        flex: 0 1 100%;
        padding: 0 ($gutter / 2);
        margin: ($gutter / 2) 0;
        box-sizing: border-box;
    }

    > .col-2 {
        flex: 0 1 100%;
        padding: 0 ($gutter / 2);
        margin: ($gutter / 2) 0;
        box-sizing: border-box;
    }

    > .col-3 {
        flex: 0 1 100%;
        padding: 0 ($gutter / 2);
        margin: ($gutter / 2) 0;
        box-sizing: border-box;
    }
}

@media (min-width: map_get($breakpoints, sm)) {
    .container {
        width: 100%;
        max-width: 480px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-left: auto;
        margin-right: auto;
    }

    .row {
        .col-2 {
            flex: 0 1 50%;
        }
        .col-3 {
            flex: 0 1 50%;
        }
    }
}

@media (min-width: map_get($breakpoints, md)) {
    .container {
        max-width: 720px;
    }

    .row {
        .col-2 {
            flex: 0 1 50%;
        }
        .col-3 {
            flex: 0 1 33.33333%;
        }
    }

    h2 {
        font-size: 1.5em;
        margin-bottom: 1.25em;
    }
}

@media (min-width: map_get($breakpoints, lg)) {
    .container {
        max-width: 840px;
    }

    .row {
        .col-2 {
            flex: 0 1 50%;
        }
        .col-3 {
            flex: 0 1 33.33333%;
        }
    }

    h2 {
        font-size: 2em;
        margin-bottom: 1.5em;
    }
}

@import 'print';
