@media print {
  body {
    padding: 0!important;
  }

  *[appfadeinscroll] {
    opacity: 1 !important;
  }

  * {
    box-shadow: none !important;
  }

  app-background,
  app-header,
  app-go-to-top,
  app-showcase-button,
  mat-progress-bar,
  app-footer,
  .cdk-overlay-container {
    display: none !important;
  }

  app-intro,
  app-about-me,
  app-quotes,
  app-skills,
  app-languages,
  app-certificates-training,
  app-services,
  app-featured,
  app-history,
  app-brands {
    display: block !important;
  }

  .mat-drawer-container {
    background: white !important;
  }

  app-intro {
    height: 940px !important;

    .read-more {
      display: none !important;
    }

    .social-buttons {
      display: block !important;
      > app-social-button {
        > a {
          display: inline-block !important;
        }
        &:before {
          content: '';
          display: block !important;
        }
        &:after {
          content: attr(label);
          padding-left: 1rem;
          display: inline-block !important;
          width: 18rem;
          text-align: left;
          font-family: Roboto, serif !important;
          font-size: 20px !important;
        }
      }
    }
  }

  app-parallax {
    display: block !important;
    height: 500px !important;

    > .wrapper {
      height: 500px !important;

      .background {
        height: 500px !important;

        > .simpleParallax {
          height: 600px !important;

          > .thumbnail {
            transform: translate3d(0px, 0px, 0px) scale(1) !important;
            height: 600px !important;
          }
        }
      }

      .content h1 {
        font-size: 1.6rem !important;
        font-family: Roboto, serif !important;
      }
    }

    &#certificates,
    &#certificates > .wrapper,
    &#certificates > .wrapper .background {
      height: 619px !important;
    }

    &#certificates > .wrapper .background {
      background-color: rgba(0, 0, 0, 0.05);
      padding-top: 19px;
    }
  }

  app-about-me {
    height: 623px !important;

    h2,
    h3,
    p,
    u {
      font-family: Roboto, serif !important;
    }
  }

  .wrap .carousel {
    display: block !important;

    blockquote {
      margin-bottom: 1rem !important;

      > .content {
        padding: 0.75rem 2rem !important;

        * {
          font-size: 0.9rem !important;
        }
      }

      > button {
        display: none !important;
      }
    }
  }

  app-quotes {
    height: 5600px !important;

    .wrap .carousel {
      transform: none !important;
      left: 0 !important;
    }

    blockquote {
      margin-top: 2rem !important;
      border-radius: 0 !important;
      background-color: #f5f5f5 !important;

      &:nth-of-type(3),
      &:nth-of-type(6),
      &:nth-of-type(9) {
        margin-top: 15rem !important;
        &:before {
          content: '';
          display: block;
          height: 1px;
          padding-top: 3rem;
          background-color: #ffffff !important;
        }
      }
    }

    #article-360 {
      margin-top: 500px;
      padding-top: 100px;
    }
  }

  app-languages {
    height: 623px !important;
  }

  app-skills {
    height: 2244px !important;

    > .container > .row {
      display: grid !important;
      grid-template-columns: 1fr;
      gap: 10px;

      .col-2:nth-of-type(3) {
        margin-top: 160px;
      }

      mat-card {
        max-width: 100%;
        border: 1px solid #cccccc !important;
        border-radius: 10px;
        overflow: hidden;
      }

      mat-list-item {
        height: 24px !important;
      }
    }
  }

  app-leadership {
    height: 1122px !important;
  }

  app-certificates-training > div > .row,
  app-services > div > .row {
    display: block !important;

    > div {
      display: inline-block !important;
      flex: none !important;
      width: 240px !important;
      height: 400px !important;
      overflow: hidden !important;
    }
  }

  app-certificates-training {
    height: 3360px !important;

    .mat-card-title {
      font-size: 13px !important;
    }

    .mat-mdc-card-actions {
      display: none !important;
    }

    mat-card {
      height: 318px !important;
      border: 1px solid #cccccc !important;
      border-radius: 10px;
      overflow: hidden;
    }

    > div {
      > p {
        display: none !important;
      }

      > .row {
        margin-left: 0.5rem !important;

        > div {
          height: 320px !important;

          &:nth-of-type(5),
          &:nth-of-type(6),
          &:nth-of-type(9),
          &:nth-of-type(10) {
            margin-top: 5rem !important;
          }
        }
      }
    }
  }

  app-services {
    height: 2245px !important;
    > div {
      > .row {
        padding-top: 4rem !important;
        margin-left: 0.5rem !important;
        > div {
          height: 300px !important;

          &:nth-of-type(5),
          &:nth-of-type(6) {
            margin-top: 5rem !important;
          }
        }
      }
    }
  }

  app-featured {
    height: 8980px !important;
    .grid {
      grid-template-columns: 1fr !important;

      > app-project {
        display: block;
        height: 900px !important;
        margin-top: 5rem;

        &:first-of-type {
          padding-top: 2rem !important;
          padding-bottom: 2rem !important;
          margin-top: 0;
        }

        mat-card {
          height: auto !important;
          border: none !important;
          box-shadow: none !important;

          .mat-mdc-card-image {
            border: 1px solid #cccccc !important;
            border-radius: 10px;
            overflow: hidden;
          }
        }
      }
    }
  }

  app-history {
    height: 4490px !important;

    mat-card {
      border: 1px solid #cccccc !important;
      border-radius: 10px;
      overflow: hidden;
    }

    > div > .row > div:nth-of-type(3),
    > div > .row > div:nth-of-type(6),
    > div > .row > div:nth-of-type(9) {
      margin-bottom: 12rem !important;
    }

    > div > .row > div:nth-of-type(4),
    > div > .row > div:nth-of-type(7),
    > div > .row > div:nth-of-type(10) {
      margin-top: 5rem !important;
    }
  }

  app-brands {
    height: 1122px !important;
    div.brands {
      padding-top: 1rem !important;
      zoom: 0.8;
    }
  }

  app-parallax:nth-of-type(3) {
    display: none !important;
  }

  app-portfolio {
    //height: 4488px !important;
    background-color: #fafafa !important;

    > div > .row {
      margin-left: 0.4rem !important;
      display: flex !important;
      flex-direction: column;

      > div {
        display: block !important;
        margin-bottom: 1rem !important;
        width: 100% !important;
        flex-shrink: 1;

        mat-card {
          zoom: 0.9;
          border: 1px solid #cccccc !important;
          border-radius: 10px;

          picture {
            max-width: 160px !important;
          }
        }

        .mat-card-content > p {
          font-size: 13px !important;
        }

        &:nth-of-type(3),
        &:nth-of-type(6) {
          margin-top: 14rem !important;
        }

        &:nth-of-type(9),
        &:nth-of-type(12),
        &:nth-of-type(15),
        &:nth-of-type(18),
        &:nth-of-type(21),
        &:nth-of-type(24),
        &:nth-of-type(27),
        &:nth-of-type(30){
          margin-top: 10rem !important;
        }
      }
    }
  }
}
