@media print {
    *[appfadeinscroll] {
        opacity: 1 !important;
    }

    app-background,
    app-header,
    app-go-to-top,
    app-showcase-button,
    mat-progress-bar,
    app-footer,
    .cdk-overlay-container {
        display: none !important;
    }

    app-intro,
    app-about-me,
    app-quotes,
    app-skills,
    app-languages,
    app-certificates-training,
    app-services,
    app-featured,
    app-history,
    app-brands {
        display: block !important;
    }

    app-intro {
        height: 1122px !important;

        .read-more {
            display: none !important;
        }

        .visit-my-website {
            display: block !important;
            margin-bottom: 3rem !important;
            text-align: center;
            * {
                font-family: Roboto, serif !important;
                font-size: 20px !important;
                color: white !important;
                vertical-align: top !important;
                text-decoration: none !important;
            }
        }

        .social-buttons {
            display: block !important;
            > app-social-button {
                > a {
                    display: inline-block !important;
                }
                &:before {
                    content: '';
                    display: block !important;
                }
                &:after {
                    content: attr(label);
                    padding-left: 1rem;
                    display: inline-block !important;
                    width: 18rem;
                    text-align: left;
                    font-family: Roboto, serif !important;
                    font-size: 20px !important;
                }
            }
        }
    }

    app-parallax {
        display: block !important;
        height: 500px !important;

        > .wrapper {
            height: 500px !important;

            .background {
                height: 500px !important;

                > .simpleParallax {
                    height: 600px !important;

                    > .thumbnail {
                        transform: translate3d(0px, 0px, 0px) scale(1) !important;
                        height: 600px !important;
                    }
                }
            }

            .content h1 {
                font-size: 2rem !important;
                font-family: Roboto, serif !important;
            }
        }

        &#certificates,
        &#certificates > .wrapper,
        &#certificates > .wrapper .background {
            height: 619px !important;
        }

        &#certificates > .wrapper .background {
            background-color: rgba(0, 0, 0, 0.05);
            padding-top: 19px;
        }
    }

    app-about-me {
        height: 622px !important;

        h2,
        h3,
        p,
        u {
            font-family: Roboto, serif !important;
        }
    }

    .wrap .carousel {
        display: block !important;

        blockquote {
            margin-bottom: 1rem !important;

            > .content {
                padding: 0.75rem 2rem !important;

                * {
                    font-size: 0.9rem !important;
                }
            }

            > button {
                display: none !important;
            }
        }
    }

    app-quotes {
        height: 2244px !important;

        .wrap .carousel {
            transform: none !important;
            left: 0 !important;
        }

        blockquote {
            margin-top: 2rem !important;
            border-radius: 0 !important;
            background-color: #f5f5f5 !important;

            &:nth-of-type(5) {
                margin-top: 15rem !important;
                &:before {
                    content: '';
                    display: block;
                    height: 1px;
                    padding-top: 3rem;
                    background-color: #fafafa !important;
                }
            }
        }
    }

    app-languages {
        height: 500px !important;
    }

    app-skills {
        height: 1122px !important;

        > .container > .row {
            display: block !important;
            margin-left: 0.4rem !important;

            > div {
                display: inline-block !important;
                width: 360px !important;
                height: 394px !important;
                overflow: hidden !important;
            }
        }
    }

    app-certificates-training > div > .row,
    app-portfolio > div > .row,
    app-services > div > .row {
        display: block !important;

        > div {
            display: inline-block !important;
            flex: none !important;
            width: 240px !important;
            height: 400px !important;
            overflow: hidden !important;
        }
    }

    app-certificates-training {
        height: 1122px !important;
        .mat-card-title {
            font-size: 13px !important;
        }
        .mat-card-actions {
            display: none !important;
        }
        > div {
            > p {
                display: none !important;
            }
            > .row {
                margin-left: 0.5rem !important;
                > div {
                    height: 270px !important;
                }
            }
        }
    }

    app-services {
        height: 1122px !important;
        > div {
            > .row {
                padding-top: 4rem !important;
                margin-left: 0.5rem !important;
                > div {
                    height: 300px !important;
                }
            }
        }
    }

    app-featured {
        height: 6732px !important;
        > div > .row {
            display: block !important;
            > div {
                padding: 10rem 4rem !important;
                &:first-of-type {
                    padding-top: 2rem !important;
                    padding-bottom: 2rem !important;
                }
                > app-project {
                    display: block;
                    height: 800px !important;
                }
            }
        }
    }

    app-history {
        height: 2244px !important;

        > div > .row > div:nth-of-type(6) {
            margin-top: 10rem !important;
        }
    }

    app-brands {
        height: 1122px !important;
        div.brands {
            padding-top: 4rem !important;
        }
    }

    #portfolio {
        app-parallax {
            display: none !important;
        }
        app-portfolio {
            height: 4488px !important;
            background-color: #fafafa !important;
            > div > .row {
                margin-left: 0.4rem !important;
                > div {
                    height: 360px !important;
                    margin-bottom: 2rem;
                    .mat-card-content > p {
                        font-size: 13px !important;
                    }
                    &:nth-of-type(7),
                    &:nth-of-type(13),
                    &:nth-of-type(19),
                    &:nth-of-type(25),
                    &:nth-of-type(31) {
                        margin-top: 10rem !important;
                    }
                    &:last-of-type {
                        margin-bottom: 7rem !important;
                    }
                }
            }
        }
    }
}
