$border-color: #dee2e6;
$text-color: #53638c;

$light-grey: rgb(215, 215, 215);
$dark-grey: rgb(100, 100, 100);

$breakpoints: (
    sm: 600px,
    md: 960px,
    lg: 1280px,
    xl: 1920px,
);

$gutter: 1.5em;
